/* src/pages/BookshelfPage.css */
.bookshelf-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .back-button {
    margin-bottom: 20px;
  }
  